@model ForgetPasswordViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />

    <h2>@localizer["Şifre Yenileme Sayfası"]</h2>
    <form method="post">
        <label>@localizer["Mail Adresinizi Giriniz"]</label>
        <input type="text" class="form-control" asp-for="Mail" />
        <br />
        <button class="btn btn-primary">@localizer["Şifre Yenileme Linki Gönder"]</button>
    </form>

</div>

