
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>pdf Raporlerı Sayfası</h1>
<a href="/PdfReport/StaticPdfreport" class="btn btn-outline-primary">Statik Pdf Raporu</a>
<a href="/PdfReport/StaticCustomReport" class="btn btn-outline-primary">Statik Misafir Raporu</a>

