@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h2>Şehir Ülke İşlemleri</h2>
<br />
<button type="button" id="btngetlist" class="btn-outline-info">Şehir Listesi</button>
<button type="button" id="btnaddcity" class="btn-outline-info">Şehir Getir</button>
<button type="button" id="btngetlist" class="btn-outline-info">Şehir Ekle</button>
<button type="button" id="btngetlist" class="btn-outline-info">Şehir Sil</button>
<button type="button" id="btngetlist" class="btn-outline-info">Şehir Güncelle</button>
<br />

<div id="cityList">
    Buraya Şehir Listesi Gelecek
</div>


<div>
    <input type = "text" id="txtcity" placeholder="Şehir adını giriniz" class="form-control" />
    <br/>
    <input type = "text" id="txtdaynight" placeholder="Gün Gece Sayısı" class="form-control" />
        <br/>

    <input type = "text" id="txtprice" placeholder="Fiyat" class="form-control" />
        <br/>

    <input type = "text" id="txtcapacity" placeholder="Konaklayacak Kişi Sayısı" class="form-control" />
</div>

<script>
    $("#btngetlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "get",
            url: "/Admin/City/CityList/",
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml = "<table class=table table-bordered> <tr><th> Şehir Adı</th><th> Gün-Gece </th><th> Fiyatı </th></tr>";

                $.each(w, (index, value) => {
                    tablehtml += `<tr><td>${value.City}<td/> <tr><td>${value.DayNight}<td/><tr><td>${value.Price}₺<td/>z/tr>`
                });
                tablehtml += "</table>";
                $("#citylist").html(tablehtml);
            }
        });
    })
    $("#btnaddcity").click(function () {

        let cityvalues = {
            City: $("#txtcity").val(),
            DayNight: $("#txtdaynight").val(),
            Price: $("#txtprice").val(),
            Capacity: $("#txtcapacity").val(),

        };
        $.ajax({
            type:"post",
            url:"/Admin/City/AddCityDestination/",
            data:cityvalues,
            success:function(func){
                let result = jQuery.parseJSON(func);
                alert("Şehir - Rota Başarılı bir şekilde eklendi");
            }
        });
    });

</script>